/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin:0;
}

button,
summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color: var(--color-text);
	background-color: var(--color-background);
}

/* margin:0 auto;
	width:95%;
	max-width: 1440px;
 */


/*  */

h1,
h2,
h3,
h4,
h5,
p,
a {
	font-family: 'Lato', sans-serif;
}

header {
	background: linear-gradient(45deg, #38207C, #2E52AE);
}

ul {
	list-style: none;
}


/* 
CODE
VOOR
DE
HEADER
*/

.headercol {
	margin: 0 auto;
	width: 95%;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .buttonheader button{
	display: none;
} */

/* Responsive voor header */

@media (min-width: 748px) and (max-width: 1024px) {

	.headercol a{
		order:-1
	}

}


@media (min-width:1024px) {

	.headercol a{
		order:-1
	}

	.usericon{
		display: none;
	}
}



/* 
EINDE
CODE
VOOR
DE
HEADER

*/




/* Responsive main vanaf mobiele breakpoint */

@media (min-width:748px) {

	.usericon{
		display: none;
	}
}